@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --qwik-dark-blue: #006ce9;
  --qwik-light-blue: #18b6f6;
  --qwik-light-purple: #ac7ff4;
  --qwik-dark-purple: #713fc2;
  --qwik-dirty-black: #1d2033;
  --qwik-dark-background: #151934;
  --qwik-dark-text: #ffffff;
}

body {
  padding: 0;
  margin: 0 auto;
  line-height: inherit;
  max-width: 1400px;
  background-color: var(--qwik-dark-background);
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
  padding: 0;
  line-height: inherit;
}

#scrollbar-preview {
  /* scrollbar-color: var(--scrollbar-thumb-color); */
  /* scrollbar-track-color: var(--scrollbar-track-color); */
  /* scrollbar-width: calc(var(--scrollbar-width) * 1px); */
}

#scrollbar-preview::-webkit-scrollbar {
  background-color: var(--scrollbar-track-color);
  width: calc(var(--scrollbar-width) * 1px);
  border-radius: calc(var(--scrollbar-border-radius) * 1px);
}

#scrollbar-preview::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color);
  border-radius: calc(var(--scrollbar-border-radius) * 1px);
}

#scrollbar-preview::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border-radius: calc(var(--scrollbar-border-radius) * 1px);
}
